@model PeopleApp.Models.Users
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>People App</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Registro de Personas</h2>
        <br />
        <h3>Puede Editar o Eliminar un Registro</h3>
    </div>
</body>
</html>
<h2>Index</h2>

